* {
	box-sizing: border-box;
}

* {
	text-transform: capitalize;
}
*{
	color: black;
}
html , body{
	height: 100%;
	margin: 0;
}

header{
	height: 108px;
}

.top-section{
	padding: 0;

}

.head-nav{
	position: absolute;
	top:20px;
	right: 0;
    float: right;
    color: white;
}


.logo .logo-img{
	
	position: absolute;
    top:20px;
    left: 18px;
	
}

.user-logo{
	position: absolute;
	top: 18px;
	right:16px;
}

.top-list{
	display: inline-block;

	position: relative;
	margin-right:10px;


}

.top-ul{
	margin-right: 90px;
	margin-top: -80px;
	float: right;

}

.center-text{
 	position: absolute;
    left: 40%;
    right: 40%;
    top: 50%;
}

.banner-h2 .second-line{
	
	text-align: center;
}

.second-line{
	width: 300px;
    text-align: center;
    color: white;
}

.banner-h2{
	text-align: center;
    color: white;
    font-size: xx-large;
}

.baner-btn{
	text-align: center;
    padding-top: 25px;
}

.btn{
	background-color:#FF4500;
	border-radius: 50px;
	border:0;
	height: 50px;
    width: 188px;
    color: white;
}
.banner-nav{
	text-decoration: none;
	color: white;
	position: absolute;
	top: 120px;


}
.banner-list{
	display: inline;
}

a{
	color: white;
	text-decoration: none;
}

/*middle-section*/
.middle-section{
	background-color: white;


}
.part-1{
	height: 550px
}
.videos{
	color: #0B0E09;
	text-shadow: 1.5px 1.5px silver;
	text-align: center;
	font-size: x-large;

}

.videos-box{
	border-radius: 10px;
	border:1px solid gray;
	height: 400px;
	width: 940px;
	box-shadow: 4px 4px silver;
	margin: 0 auto;	

}

.video-ul{
	list-style-type: none;
	float: right;
	padding: 0;
	margin: 0;
}
.video-list{
	height: 380px;
	width: 300px;
	text-align: center;
	float: right;
	overflow:auto;
	margin-top: -364px;
}

.current-video{
	width: 500px;
	box-shadow: 
}
.video-img{
	height: 360px;

}

.box-title{
	text-align: center;
	color: #0B0E09;
	font-size: x-large;
}

.partners-logo{
	height: 500px;
	text-align: center;

}

.mid-logo{
	height: 480px;
	box-shadow: 3px 3px silver;
}


footer{
	background-color: #982AA5; 
	height:300px;
}

.footer-text{
	font-size:x-large;
	font-weight: bold;
	color: white;
	padding: 100px;
	float: right;
}

.footer-btn{
	text-align: center;
    padding-top: 25px;

}

.foo-btn{
	background-color:#FF4500;
	border-radius: 50px;
	border:0;
	height: 50px;
    width: 188px;
    color: white;

}